.main-container {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    .back {
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 3px;
    }
    .props-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .next {
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 3px;

    }
}